/*  your css code here. If applicable */
#box{
	height:200px;
	width:200px;
	background-color:lightblue;
	border: 2px solid black;
	position:fixed;
	left:200px;
	top:150px;
	 
}
#eg{
	color:purple;
	position:fixed;
	left:250px;
	top:220px;
	
	
}